<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Login to our site</h3>
                        <p>Enter email and password to log on:</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <form role="form" class="login-form">
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Email</label>
                            <input type="text" name="form-username" placeholder="Email..."
                                class="form-username form-control" id="form-username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-password">Password</label>
                            <input type="password" name="form-password" placeholder="Password..."
                                class="form-password form-control" id="form-password">
                        </div>
                        <button type="submit" class="btn" routerLink="/dashboard" style="background-color: rgb(10, 59, 133);">Sign in!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>