<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Worker List</h4>
                        <p class="card-category"> Total no. of employees</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Speciality
                                    </th>
                                    <th>
                                        Phone No.
                                    </th>
                                    <th>
                                        Work Experience
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            sanjeev Kumar
                                        </td>
                                        <td>
                                            Residential Electrician
                                        </td>
                                        <td>
                                            1234567890
                                        </td>
                                        <td class="text-primary">
                                            3 Yrs
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Commercial Electrician
                                        </td>
                                        <td>
                                            1234567890
                                        </td>
                                        <td class="text-primary">
                                            5 Yrs
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Maintenance Electricians
                                        </td>
                                        <td>
                                            1234567890
                                        </td>
                                        <td class="text-primary">
                                            6 yrs
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                        Uttam
                                        </td>
                                        <td>
                                            Electrical Machine Repairer
                                        </td>
                                        <td>
                                            1234567890
                                        </td>
                                        <td class="text-primary">
                                            10 yrs
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Jugnesh
                                        </td>
                                        <td>
                                            Master Electrician
                                        </td>
                                        <td>
                                            1234567890
                                        </td>
                                        <td class="text-primary">
                                            15
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Rakesh
                                        </td>
                                        <td>
                                            Manager
                                        </td>
                                        <td>
                                            1234567890
                                        </td>
                                        <td class="text-primary">
                                        7 yrs
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Customers</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Query
                                    </th>
                                    <th>
                                        Time/Date
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Gaurav Yadav
                                        </td>
                                        <td>
                                            Cooler Pump
                                        </td>
                                        <td>
                                            18:00/12.3.2020
                                        </td>
                                        <td>
                                            Pending
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Alwin Ponnan
                                        </td>
                                        <td>
                                            Refrigerator Not Coling
                                        </td>
                                        <td>
                                            18:00/12.3.2020
                                        </td>
                                        <td>
                                            Resolved
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Ritik Khandelwal
                                        </td>
                                        <td>
                                            Washing Machine
                                        </td>
                                        <td>
                                            18:00/12.3.2020
                                        </td>
                                        <td>
                                            Pending
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Anwar 
                                        </td>
                                        <td>
                                            Microwave
                                        </td>
                                        <td>
                                            18:00/12.3.2020
                                        </td>
                                        <td>
                                            Resolved
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Joel Green
                                        </td>
                                        <td>
                                            Short-circuit
                                        </td>
                                        <td>
                                            18:00/12.3.2020
                                        </td>
                                        <td>
                                            Pending
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Sonakshi Arora
                                        </td>
                                        <td>
                                            Refrigerator
                                        </td>
                                        <td>
                                            18:00/12.3.2020
                                        </td>
                                        <td>
                                            Pending
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>